/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: #000000;
}

header .nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .nav ul li a {
  font-family: sans-serif;
  margin-left: 50px;
  font-size: 15px;
  color: #fff;
  font-weight: bolder;
}

header .nav ul li a:hover {
  cursor: pointer;
  color: #1ed760;
}

.sec-1 {
  width: 100%;
  height: 700px;
  background-color: #2941ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-1 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 372px;
}

.sec-1 .text h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 80px;
  padding: 0px 0px 15px;
  color: #1ed760;
  font-size: 140px;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.sec-1 .text h2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 40px;
  -webkit-transform: translate(125px, 0px);
          transform: translate(125px, 0px);
  color: #1ed760;
  text-align: center;
  line-height: 166px;
  font-size: 140px;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.sec-1 .text h6 {
  color: #1ed760;
  font-size: 20px;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

.sec-1 .text button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 20px 0 10px 0;
  padding: 10px;
  border: none;
  font-weight: bolder;
  border-radius: 20px;
  -webkit-transition: .6s;
  transition: .6s;
  width: 160px;
  height: 100px;
  background-color: #1ed760;
  color: #2941ab;
}

.sec-1 .text button:hover {
  background-color: #1ed75faf;
  color: #dfdfdf;
}

.sec-2 {
  width: 100%;
  height: 700px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-2 .logo1 {
  display: block;
  margin-bottom: 470px;
  margin-left: 60px;
}

.sec-2 .menu {
  width: 50%;
  margin-right: 440px;
  margin-bottom: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.sec-2 .menu dl {
  padding: 0 15px;
  margin: 0;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.sec-2 .menu dl dt {
  margin: 20px 30px;
  color: #919496;
  display: block;
  font-size: 12px;
  font-weight: 900;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.4;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.sec-2 .menu dl dd a {
  margin: 30px 0;
  color: #fff;
  display: block;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
  font-size: 16px;
  font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.sec-2 .menu dl dd a:hover {
  color: #1ed760;
}
/*# sourceMappingURL=style.css.map */