.heaeder-area{
    
    width: 100%;
    height: 104px;
    .main-header{
        @include sbetween;
        .header-left{
            display: flex;
            img{
                width: 165px;
                height: 135px;
            }
            ul{
                margin-left: 10px;
                @include sevenly;
                li{
                    margin-left: 40px;
                    a{
                        color: #000;
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        transition: .5s;
                        &:hover{
                            color: #ce5c3e;
                        }
                    }
                }
            }
        }
        .header-right{
            margin-right: 30px;
            display: flex;
            a{
                color: #000;
                font-family: 'Roboto', sans-serif;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 37px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #000;
    transition: .6s;
    &:hover{
        background-color: black;
        color: #fff;
    }
            }
            .search{
                margin-left: 15px;
            }
        }
    }
}
.sec-1{
    width: 100%;
    height: 600px;
    background-color: #fff;
    margin-top: 150px;
  .container{
    padding-left: 40px;
    padding-right: 40px;
    .row{
        @include saround;
        .text{
            h1{
                color: black;
                font-size: 75px;
                margin-bottom: 60px;
                .span1{
                    color: #575757;
                    font-size: 16px;
                    display: inline-block;
                    font-family: sans-serif;
                }
                .span2{
                    color: black;
                font-size: 75px;
                }
            }
            a{
                
                font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
                font-family: 'Roboto', sans-serif;
                color: #ce5c3e;
                border-bottom: 1px solid #ce5c3e;
                transition: 0.9s;
                &:hover{
                    border-bottom: #fff;
                }
            }
        }
        .image{
            img{
                width: 570px;
                height: 473px;
            }
        }
    }
  }
}
.sec-2{
    width: 100%;
    height: 900px;
    background-color: #fff;
    .boxes{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 60px;
        padding-right: 60px;
        .column{
            .text{
                h5{
                    font-size: 15px;
    color: #575757;
                font-family: sans-serif;
                margin-left: 20px;
                }
                h1{
                    color: black;
                font-size: 60px;
                span{
                    font-style: italic;
                }
                }
            }
            .boxe_s{
                @include sevenly;
                .img1{
                    position: absolute;
                    left: 0;
                    margin-left: 70px;
                }
                .img2{
                    position: relative;
                    margin-left: 440px;
                    margin-top: 100px;
                    z-index: 1;
                }
            }
            .txt{
                p{
                    line-height: 1.625em;
    color: #717171;
                    font-size: 17px;
                    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 30px;
                }
                a{
                    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
                font-family: 'Roboto', sans-serif;
                color: #ce5c3e;
                border-bottom: 1px solid #ce5c3e;
                transition: 0.9s;
                &:hover{
                    border-bottom: #fff;
                }
                }
            }
        }
    }
}
.sec-3{
    width: 100%;
    height: 1300px;
    background-color: #fff;
    margin-top: 200px;
    .container_3{
        padding: 60px;
        .column{
            .text_3{
                @include sbetween;
                border-bottom: 1px solid #000;
                h1{
                    color: black;
                    font-size: 60px;
                    margin-bottom: 20px;
                    span{
                        margin-left: 20px;
                        color: #575757;
                    font-size: 15px;
                    display: inline-block;
                    font-family: sans-serif;
                    }
                }
                a{
                    color: #000;
                font-family: 'Roboto', sans-serif;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 37px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #000;
    transition: .6s;
    &:hover{
        background-color: black;
        color: #fff;
    }
                }
            }
            .pages{
                margin-top: 100px;
                .img_1{
                    display: block;
                    float: right;
                }
                .img_2{
                    margin-top: 350px;
                    display: block;
                    float: left;
                }
                .img_3{
                    margin-top: 250px;
                    display: block;
                    float: right;
                }
            }
        }
    }
}
.sec-4{
    width: 100%;
    height: 200px;
    margin-top: 300px;
    .row{
        @include sevenly;
    }
}
.sec-5{
    padding-top: 90px;
    width: 100%;
    height: 300px;
    background-color: #f0f1ea;
    .row{
        @include sevenly;
        .crd1{
            
            h1{
                
                margin-top: 20px;
                font-size: 14px;
                color: black;
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 30px;
                line-height: 1.625em;
            }
            a{
                color: #000;
                font-family: 'Roboto', sans-serif;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 37px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #000;
    transition: .6s;
    &:hover{
        background-color: black;
        color: #fff;
    }
            }
        }
        .crd2{
            border-top: 1px solid black;
            margin-bottom: 100px;
            h1{
                margin-top: 20px;
                color: #000;
                font-size: 27px;
            }
            p{
                margin-top: 20px;
                color: black;
                font-size: 19px;
            }
        }
        .crd3{
            border-top: 1px solid black;
            margin-bottom: 89px;
            h1{
                margin-top: 20px;
                color: #000;
                font-size: 27px;
            }
            a{
                margin-top: 20px;
                color: black;
                font-size: 19px;
                transition: .6s;
                &:hover{
                    color: #ce5c3e;
                }
            }
        }
        .crd4{
            border-top: 1px solid black;
            margin-bottom: 50px;
            h1{
                margin-top: 20px;
                color: #000;
                font-size: 27px;
            }
            p{
                margin-top: 20px;
                color: black;
                font-size: 19px;
            }
            h5{
                width: 160px;
                color: grey;
                border: 1px solid black;
                padding: 10px 20px;
            }
        }
    }
}