.test1{
    background-color: #8d3ae0;
    
    .navbar-brand{
        img{
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .test2{
        
        ul{
            font-family: 'Poppins', sans-serif;
            margin-left: 30px;
            
            
            li{
                margin-right: 15px;
                
            
            a{
                color: #fff;
                font-size: 17px;
                font-weight: bolder;
                transition: .6s;
                &:hover{
                    color: rgb(231, 230, 230);
                }
                i{
                    margin-left: 5px;
                }
            }
            }
        }
    }
    .d-flex{
        a{
            margin-right: 40px;
            font-size: 17px;
            margin-top: 13px;
            
            i{
                color: #fff;
                transition: .6s;
                &:hover{
                    color: rgb(231, 230, 230);
                }
            }
        }
        .btn1{
            color: #fff;
            font-size: 15px;
            font-family: sans-serif;
            font-weight: bolder;
            margin-right: 70px;
            padding: 14px 30px;
            border: 2px solid #fff;
            border-radius: 23px;
            background-color: #8d3ae0;
            transition: .2s;
            &:hover{
                border: 2px solid #8d3ae0;
                background: linear-gradient(90deg, rgba(122,25,167,1) 0%, rgba(119,19,218,1) 0%, rgba(173,73,219,1) 100%);
            }
            i{
                margin-right: 5px;
            }
        }
    }
}

#home{
    background-color: #8d3ae0;
    @include sevenly;
    .container{
        
        .col-12{
            margin-top: 50px;
            width: 665px;
            height: 285px;
            h1{
                color: #fff;
                text-align: left;
                font-size: 57px;
                font-weight: bolder;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            p{
                color: #fff;
                margin-top: 1.5rem!important;
                
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                line-height: 24px;
                font-weight: 400px;
                text-align: left;
            }
            .button_group{
                margin-top: 50px;
                a{
                    color: #fff; 
            font-size: 15px;
            font-family: sans-serif;
            font-weight: bolder;
            margin-right: 17px;
            padding: 14px 30px;
            border: 2px solid #fff;
            border-radius: 23px;
            background-color: #8d3ae0;
            transition: .2s;
            &:hover{
                border: 2px solid #8d3ae0;
                background: linear-gradient(90deg, rgba(122,25,167,1) 0%, rgba(119,19,218,1) 0%, rgba(173,73,219,1) 100%);
            }
                }
            }
        }
    }
    .welcome-thumb-wrapper{
        width: 100%;
        height: 800px;
        position: relative;
    display: block;

        
        .welcome-thumb-1{
            display: block;
            margin-left: 100px;
            img{
                margin-top: 150px;
                height: auto;
                
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: 1;
    animation: bounceHero 5s ease-in-out infinite;
            }
            .ml-auto, .mx-auto {
                margin-left: auto!important;
            }
            .d-block {
                display: block!important;
            }
        }
        .welcome-thumb-2{
            img{
                z-index: 2;
                height: auto;
                margin-top: 350px;
                
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    animation-duration: 8s;
    position: absolute;
    animation: bounceHero1 7s ease-in-out infinite;
            }
            .d-block {
                display: block!important;
            }
        }
        .welcome-thumb-3{
            img{
                z-index: 3;
                height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    margin-left: 160px;
    margin-top: 370px;
    animation-duration: 8s;
    animation: bounceHero2 5s ease-in-out infinite;
            }

        }
        .welcome-thumb-4{
            img{
                z-index: 4;
                height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    margin-top: 540px;
    margin-left: 290px;
    position: absolute;
    animation-duration: 8s;
    animation: bounceHero4 5s ease-in-out infinite;
            }
            .d-block {
                display: block!important;
            }
        }
        .welcome-thumb-5{
            img{
               z-index: 5;
               margin-bottom: 400px;
                margin-left: 110px;
                margin-top: 70px;
                height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    animation: bounceHero5 5s ease-in-out infinite;
            }
            .d-block {
                display: block!important;
            }
        }
        .welcome-thumb-6{
            img{
                z-index: 6;
                height: auto;
                margin-left: 320px;
                margin-top: 110px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    animation-duration: 7s;
    animation: bounceHero6 5s ease-in-out infinite;
            }
            .d-block {
                display: block!important;
            }
        }
    }
}
@media (min-width: 768px){
    .col-12{
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
      }
}
@keyframes bounceHero{
    0% {
        top: 0px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bounceHero1{
    0% {
        top: 0px;
    }
    50% {
        top: 45px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bounceHero2{
    0% {
        top: 0px;
    }
    50% {
        top: 38px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bounceHero4{
    0% {
        top: 0px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bounceHero5{
    0% {
        top: 0px;
    }
    50% {
        top: 35px;
    }
    100% {
        top: 0px;
    }
}
@keyframes bounceHero6{
    0% {
        top: 0px;
    }
    50% {
        top: 45px;
    }
    100% {
        top: 0px;
    }
}
@media (min-width: 768px){
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
.section2{
    .row{
        margin-top: 100px;
        padding: 100px 80px;
        @include sevenly;
        .box1{
            border-bottom:10px solid #8d3ae0;
            border-radius: 13px;
            padding: 0 53px;
            box-shadow: 0 15px 30px rgba(148, 151, 151, 0.623);
            h3{
                text-align: center !important;
                color: #222;
                font-size: 55px;
    font-weight: 700;
    text-transform: lowercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.9em;
    letter-spacing: -1.6px;
    margin-top: 50px;
    margin-bottom: 20px;
            }
            p{
                text-align: center;
                font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
            }
    }
        .box2{
            border-bottom:10px solid #26c6da;
            border-radius: 13px;
            padding: 0 53px;
            box-shadow: 0 15px 30px rgba(148, 151, 151, 0.623);
            h3{
                text-align: center !important;
                color: #222;
                font-size: 55px;
    font-weight: 700;
    text-transform: lowercase;
    font-family: 'Poppins', sans-serif;
    line-height: 0.9em;
    letter-spacing: -1.6px;
    margin-top: 50px;
    margin-bottom: 20px;
            }
            p{
                text-align: center;
                font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
            }
        }
        .box3{
            border-bottom:10px solid #fc573b;
            border-radius: 13px;
            padding: 0 53px;
            box-shadow: 0 15px 30px rgba(148, 151, 151, 0.623);
            h3{
                text-align: center !important;
                color: #222;
                font-size: 55px;
                font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 0.9em;
    letter-spacing: -1.6px;
    margin-top: 50px;
    margin-bottom: 20px;
            }
            p{
                text-align: center;
                font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
            }
        }
    }
}
.section3{
    width: 100%;
    height: 700px;
    background-color: #f4f4f4;
    .container3{
        @include sevenly;
        padding: 50px 70px;
        .text{
            h1{
                font-family: 'Poppins', sans-serif;
                font-size: 56px;
                text-align: center!important;
    font-weight:bolder;
    text-transform: lowercase;
    line-height: 1em;
    letter-spacing: -1.6px;
    color: #222;
    margin-bottom: 25px;
    margin-left: 60px;
            }
            p{
                text-align: center;
                font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #565656;
    margin-left: 60px;
            }
            h2{
                color: #000;
                margin-top: 30px;
                margin-left: 60px;
                font-size: 17px;
                font-family:  'Poppins', sans-serif;
                font-weight: bolder;
                i{
                    color: #8d3ae0;
                    margin-right: 40px;
                }
            }
            h3{
                font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-left: 115px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.849);
            }
            .btn{
                margin-left: 240px;
                margin-top: 35px;
                color: rgba(0, 0, 0, 0.842); 
            font-size: 17px;
            font-family: sans-serif;
            font-weight: bolder;
            margin-right: 17px;
            padding: 12px 35px;
            border: 2px solid #8d3ae0;
            border-radius: 23px;
            background-color: #fff;
            transition: .2s;
            &:hover{
                color: #fff;
                background: #8d3ae0;
            }
            }
        }
    }
}

.section-5{
    width: 100%;
    height: 1147px;
    .container5{
        .textarea{
            .text{
                padding: 70px 80px;
                h1{
                    text-align: center;
                    color: #222;
                    font-size: 56px;
                    font-weight: bolder;
                    font-family: 'Poppins', sans-serif;
                }
                p{
                    margin-top: 20px;
                    text-align: center;
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 100px;
                }
            }
        }
        .row{
            margin-left: 180px;
            .bx1{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
                }
                a{
                   font-size: 16px; 
                   font-family: sans-serif;
                   color: rgba(0, 0, 0, 0.705);
                }
            }
            .bx2{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
            .bx3{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
            .bx4{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
            .bx5{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
            .bx6{
                width: 350px;
                height: 291px;
                h1{
                    color: #222;
                    font-size: 30px;
                    font-weight: bolder;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
                p{
                    color: #565656;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}